[color]
    status      = auto
    branch      = auto
    ui          = auto
    interactive = auto

[core]
    excludesfile = .gitignore
    paper        = lv -c
    autocrlf     = false
    editor       = vim
    pager        = less -r
    quotepath    = false
	preloadindex = true
	fscache = true

[diff]
    renames = copies
    algorithm = patience
    #algorithm = histogram

[rebase]
    autosquash = true

[fetch]
    prune = true

[push]
	default = matching

[alias]
    alias    = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort

    ls       = ls-files
    info     = remote show origin
    who      = shortlog --numbered --summary --email --no-merges --since='3 months'
	pr-setup = config --add remote.origin.fetch+refs/pull/*/head:refs/remotes/origin/pr/*

# ignore 
    ignore   = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored  = !git ls-files -v | grep "^[a-z]" ; view ignored files
# status
    st       = status --short --branch
# commit
    cmt      = commit -v
    amend    = commit --amend

# checkout 
    co       = checkout
    ct       = checkout -t 
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*

# diff
    df       = diff
    ds       = diff --stat
    today    = diff @{yesterday}.. --stat
    week     = diff \"@{last week}\".. --stat

# log
    l        = log --graph --date-order -C -M --pretty=format:'%C(red)%h%Creset - %C(green)%ad %C(Cyan)[%an]%C(Yellow)%d%Creset %s' --date=short
    lg       = log --graph --date-order -C -M --pretty=format:'%C(red)%h%Creset - %C(green)%ad %C(Cyan)[%an]%C(Yellow)%d%Creset %s' --all --date=short

[help]
    autocorrect = 1

[url "https://"]
	insteadOf = git://
[user]
	name = kse201
	email = kse.201@gmail.com
