#全てのファイルを除外
/*
#全ての隠しファイルを除外
/*.

!/.gitconfig
!/.gitignore
!/.vim
!/.vimrc
!/.gvimrc
!/sample.vimrc
!/.vimrc.plugin
!/.zshrc
!/.zshenv
!/.zsh.d/config
!/.emacs.d
!/.screenrc
/.vim/bundle

doc/tags
doc/tags-ja
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/undohist
