[user]
    name = kse201@windows7
    email = kse.201@gmail.com

[color]
    status = auto
    branch = auto
    ui = auto
[core]
	excludesfile = .gitignore
	paper = lv -c
	; pager = nkf -w | LESSCHARSET=utf-8 less
; http://qiita.com/taise/items/73b2b295350f4fe35b65
; git config --global url."https://".insteadOf git://
; [remote "origin"]
    ; fetch = +refs/heads/*:refs/remotes/origin/*
    ; url = git@github.com:kse201/dotfiles.git
    
[alias]
; show git log with graph http://d.hatena.ne.jp/akihito_s/20110903
graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
