#全てのファイルを除外
/*
#全ての隠しファイルを除外
/*.

!/.gitconfig
!/.gitignore
!/.vim
!/.vimrc
!/.gvimrc
!/sample.vimrc
!/.vimrc.plugin
!/.zshrc
!/.zshenv
!/.zsh.d
!/.emacs.d
!/.screenrc
.vim/bundle

.vim/doc/tags
.vim/doc/tags-ja
.twitvim
.twitvim.token
.vimprojects
.vimshell
.viminfo
.emacs.d/auto-save-list
.emacs.d/backups
.emacs.d/undohist
.emacs.d/.DS_Store
.emacs.d/history
.emacs.d/howm
.emacs.d/ac-comphist.dat
.emacs.d/twittering-mode.gpg
.emacs.d/.bongo-library
.emacs.d/newsticker
.emacs.d/newsticker-url-list.el
.emacs.d/elisp/*.elc
