"*":
  "exception-reporting":
    userId: "c6cac76b-28aa-2be9-9f4e-d398a7239d40"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "vim-mode"
      "atomic-emacs"
      "linter-python-pep8"
    ]
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    audioBeep: false
  editor:
    invisibles: {}
    fontFamily: "Ricty Diminished"
    showIndentGuide: true
    fontSize: 18
  minimap:
    plugins:
      "minimap-autohide": true
      bookmarks: true
      "git-diff": true
      pigments: true
      "highlight-selected": true
  "linter-erb": {}
  linter:
    showErrorTabLine: true
  "autocomplete-python": {}
