"*":
  core:
    audioBeep: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "plantuml-viewer"
      "tree-view"
    ]
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "iceberg-syntax"
    ]
  editor:
    atomicSoftTabs: false
  "exception-reporting":
    userId: "c92b939c-b49d-4b62-bc4b-d36e3e26290e"
  "git-plus":
    commits:
      verboseCommits: true
    diffs:
      wordDiff: true
    experimental:
      autoFetchNotify: true
  "markdown-preview":
    useGitHubStyle: true
  nuclide:
    use:
      "atom-ide-diagnostics-ui": false
  "platformio-ide-terminal":
    core:
      autoRunCommand: "bash"
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
  "vim-mode-plus-ex-mode":
    notifiedUseExMode: true
